{% load static %}
<!-- Career -->
<div>
  <h4 class="font-weight-bold">
      Career
      <button class="btn btn-abdi btn-sm" data-toggle="modal" data-target="#updateCareer">Edit</button>
  </h4>
  <div>
    <span class="d-block"> 
      {% if data.career %}
      {{data.career}} 
      {% else %}
      Tidak ada
      {% endif %}
    </span>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="updateCareer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4" id="exampleModalLabel">Update Career</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'update_career' %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <textarea class="form-control" name="career" id="career" rows="8" cols="40" required="">{% if data.career %}{{data.career}}{% endif %}</textarea>
            <button type="submit" class="btn btn-primary mt-2">Edit</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>