{% load tags %}
{% load static %}
<!-- EXPERIENCE -->
<div>
  <h4 class="font-weight-bold">
    Experience
    {% if data.experience|count < 5 %}
      <button class="btn btn-abdi btn-sm" data-toggle="modal" data-target="#formExperience">Add</button>
    {% endif %}
  </h4>
  <div>
    {% if data.experience %}
    {% for x in data.experience|toObj %}
        <div id="exp-{{forloop.counter}}" >
            <span class="my-font prestasi font-weight-bold experience">{{ x.experience }}</span>
            - <span class="tahun font-weight-bold">{{ x.tahun }}</span> 
            (<span class="tempat font-weight-bold">{{ x.tempat }}</span>)
            <span class="description d-block">{{ x.description }}</span>
            <form name="form-del-exp" action="{% url 'del_exp' %}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <span class="btn-exp mr-2 text-primary" role="button" index="{{ forloop.counter0 }}" data-toggle="modal" data-target="#formExperience">Edit</span>
                <input type="hidden" name="index" value="{{ forloop.counter0 }}" />
                <span class="text-danger" role="button" onclick="if(confirm('Mau menghapus {{ x.experience }}?')){document.forms['form-del-exp'].submit()}">Delete</span>
            </form>
        </div>
    {% endfor %}
    {% else %}
    <span class="d-block"> Tidak ada </span>
    {% endif %}
  </div>
  <!-- Modal -->
  <div class="modal fade" id="formExperience" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4" id="exampleModalLabel">Form Experience</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'add_exp' %}" id="form-exp" method="POST" accept-charset="utf-8" update="{% url 'update_exp' %}">
            {% csrf_token %}
            <label for="experience">Nama Pengalaman</label>
            <input class="form-control" type="text" name="experience" id="experience" placeholder="Nama Pengalaman" required=""/>
            <div class="form-row mt-2">
              <div class="col-6">
                 <label for="tahun">Tahun</label>
                <input type="text" name="tahun" class="form-control" id="tahun" placeholder="tahun" required="">
              </div>
              <div class="col-6">
                <label for="tempat">Tempat</label>
                <input type="text" name="tempat" class="form-control" id="tempat" placeholder="tempat" required="">
              </div>
            </div>
            <label for="description">Keterangan</label>
            <textarea class="form-control" type="text" name="description" id="description" placeholder="Keterangan" required="" rows="8" cols="40"/></textarea>
            <button type="submit" class="btn btn-primary mt-2">Add</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>