{% load static %}
{% load tags %}
<!-- SKILL -->
<div>
  <h4 class="font-weight-bold">
    Skill
    {% if data.skill|count < 10 %}
      <button class="btn btn-abdi btn-sm" data-toggle="modal" data-target="#formSkill">Add</button>
    {% endif %}
 </h4>
  <div>
    {% if data.skill %}
    {% for x in data.skill|toObj %}
        <div id="skill-{{forloop.counter}}">
            <span class="my-font skill font-weight-bold">{{ x.skill }}</span> 
            (<span class="level font-weight-bold">{{ x.level }}</span>)
            <br>
            <form name="form-del-skill" action="{% url 'del_skill' %}" method="POST" accept-charset="utf-8">
                {% csrf_token %}
               <span class="btn-skill text-primary mr-2" index="{{ forloop.counter0 }}" data-toggle="modal" data-target="#formSkill">Edit</span>
                <input type="hidden" name="index" value="{{ forloop.counter0 }}" />
                <span class="text-danger" onclick="if(confirm('Mau menghapus {{ x.skill }}?')){document.forms['form-del-skill'].submit()}">Delete</span>
            </form>
        </div>
    {% endfor %}
    {% else %}
    <span class="d-block"> Tidak ada </span>
    {% endif %}
  </div>
  <!-- Modal -->
  <div class="modal fade" id="formSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4" id="exampleModalLabel">Form Skill</span>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'add_skill' %}" method="POST" id="form-skill" accept-charset="utf-8" update="{% url 'update_skill' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-md-8 mb-2">
                <label for="skill">Skill</label>
                <input type="text" id="skill" name="skill" class="form-control" placeholder="Skill" required="">
              </div>
              <div class="col-md-4">
                <label for="level">Level</label>
                <select class="form-control" name="level" id="level">
                  <option value="Beginner">Beginner</option>
                  <option value="Intermediate">Intermediate</option>
                  <option value="Expert">Expert</option>
                </select>
              </div>
            </div>
            <button type="submit" class="mt-2 btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>