attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.4
Cython==3.0.4
Django==4.2.6
dl==0.1.0
docutils==0.20.1
filelock==3.12.4
HTMLParser==0.0.2
ipython==8.16.1
ipywidgets==8.1.1
Jinja2==3.1.2
# jnius==1.1.0
keyring==24.2.0
mock==5.1.0
numpy==1.26.1
Pillow==10.1.0
protobuf==4.24.4
pyOpenSSL==23.2.0
railroad==0.5.0
redis==5.0.1
sib_api_v3_sdk==7.6.0
simplejson==3.19.2
Sphinx==7.2.6
tornado==6.3.3
trove_classifiers==2023.10.18
urllib3_secure_extra==0.1.0
# xmlrpclib==1.0.1
zstandard==0.21.0
