alabaster==0.7.16
asgiref==3.8.1
asttokens==2.4.1
async-timeout==4.0.3
attr==0.3.2
Babel==2.15.0
backcall==0.2.0
boltons==24.0.0
Brotli==1.1.0
brotlicffi==1.1.0.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
configparser==6.0.0
contextlib2==21.6.0
cryptography==41.0.4
Cython==3.0.4
decorator==5.1.1
Django==4.2.6
dl==0.1.0
docutils==0.20.1
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.12.4
funcsigs==1.0.2
HTMLParser==0.0.2
idna==3.7
imagesize==1.4.1
importlib_metadata==8.2.0
ipython==8.16.1
ipywidgets==8.1.1
jaraco.classes==3.4.0
jedi==0.19.1
Jinja2==3.1.2
jupyterlab_widgets==3.0.11
keyring==24.2.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mock==5.1.0
more-itertools==10.4.0
numpy==1.26.1
packaging==24.1
parso==0.8.4
pickleshare==0.7.5
Pillow==10.1.0
prompt_toolkit==3.0.47
protobuf==4.24.4
psycopg2==2.9.9
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==23.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pywin32-ctypes==0.2.2
railroad==0.5.0
redis==5.0.1
requests==2.32.3
sib-api-v3-sdk==7.6.0
simplejson==3.19.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.2.6
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
stack-data==0.6.3
toolz==0.12.1
tornado==6.3.3
traitlets==5.14.3
trove-classifiers==2023.10.18
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
urllib3-secure-extra==0.1.0
wcwidth==0.2.13
widgetsnbextension==4.0.11
zipp==3.19.2
zstandard==0.21.0
