{% load static %}
<nav class="navbar navigation bg-light navbar-expand fixed-bottom d-md-none">
  <ul class="navbar-nav nav-justified w-100">
    <li class="nav-item">
      <a href="#education" class="nav-link"><img src="{% static 'img/education.svg' %}" width="25"></a>
    </li>
    <li class="nav-item">
      <a href="#visi-misi" class="nav-link"><img src="{% static 'img/visimisi.svg' %}" width="25"></a>
    </li>
    <li class="nav-item">
      <a href="#skills" class="nav-link"><img src="{% static 'img/skills.svg' %}" width="25"></a>
    </li>
    <li class="nav-item">
      <a href="#achievement" class="nav-link"><img src="{% static 'img/achievement.svg' %}" width="25"></a>
    </li>
    <li class="nav-item">
      <a href="#experience" class="nav-link"><img src="{% static 'img/experience.svg' %}" width="25"></a>
    </li>
  </ul>
</nav>
<button class="to-pdf" name="{{ user.first_name }} {{ user.last_name}}"><img src="{% static 'img/pdf.svg' %}" width="48" alt=""></button>
