{% extends 'base.html' %}
{% block 'title' %}Ubah kata sandi{% endblock %}
{% block 'content' %}
<h4 class="text-center">Ubah kata sandi</h4>
    {% for message in messages %}
        <p class="alert alert-danger">{{ message }}</p>
     {% endfor %}
<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form action="{% url 'set_password' token %}" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <label for="password">New Password</label>
            <input type="password" class="form-control" name="password1" id="password" required="" minlength="5" />
            <div class="form-check float-right mt-1 mb-2">
              <input class="form-check-input show-hide-pw" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                  Show Password
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Selesai</button>
        </form>
    </div>
</div>
{% endblock %}