{% extends 'base.html' %}
{% load static %}
{% block 'title' %}404 Not Found{% endblock %}
{% block 'description' %}Kawoola adalah website untuk membuat CV dengan mudah Dan dapat di akses melalui website dimanapun Dan kapanpun. Kawoola dibuat untuk memudahkan orang-orang Membuat CV dengan mudah, cepat Dan modern agar mereka bisa melamar pekerjaan dengan CV yang menarik.{% endblock %}
{% block 'og_title' %}Kawoola{% endblock %}
{% block 'og_description' %}Kawoola adalah website untuk membuat CV dengan mudah Dan dapat di akses melalui website dimanapun Dan kapanpun. Kawoola dibuat untuk memudahkan orang-orang Membuat CV dengan mudah, cepat Dan modern agar mereka bisa melamar pekerjaan dengan CV yang menarik.{% endblock %}

{% block 'content' %}
    <h4 style="text-align: center;margin: 150px 0;">404 Not found</h4>
{% endblock %}