{% extends 'base.html' %}
{% load static %}
{% block 'title' %}FAQ - Kawoola{% endblock %}
{% block 'description' %}Kawoola adalah website untuk membuat CV dengan mudah Dan dapat di akses melalui website dimanapun Dan kapanpun. Kawoola dibuat untuk memudahkan orang-orang Membuat CV dengan mudah, cepat Dan modern agar mereka bisa melamar pekerjaan dengan CV yang menarik.{% endblock %}
{% block 'og_title' %}Kawoola{% endblock %}
{% block 'og_description' %}Kawoola adalah website untuk membuat CV dengan mudah Dan dapat di akses melalui website dimanapun Dan kapanpun. Kawoola dibuat untuk memudahkan orang-orang Membuat CV dengan mudah, cepat Dan modern agar mereka bisa melamar pekerjaan dengan CV yang menarik.{% endblock %}

{% block 'content' %}
<div id="faq">
    <h2 class="font-weight-bold text-center">FAQ - Kawoola</h2>
    <div id="content-faq">
       <div class="question">
         <h4 class="font-weight-bold">Apa itu Kawoola?</h4>
         <p>Kawoola adalah website untuk membuat CV dengan mudah Dan dapat di akses melalui website dimanapun Dan kapanpun. Kawoola dibuat untuk memudahkan orang-orang Membuat CV dengan mudah, cepat Dan modern agar mereka bisa melamar pekerjaan dengan CV yang menarik.</p>
       </div>
       <div class="question">
         <h4 class="font-weight-bold">Bagaimana cara mendaftar?</h4>
         <p>Seperti mendaftar diwebsite pada umumnya, kamu hanya perlu pergi ke halaman register, kemudian melengkapi form yang tersedia.</p>
       </div>
       <div class="question">
         <h4 class="font-weight-bold">Apa saja data yang ditampilkan??</h4>
         <p>
             Data yang ditampilkan hanya berupa
            - nama
            - description
            - alamat rumah (optional)
            - email 
            - nomer handphone (optional)
            - sosial media (optional)
            - website (optional)
            - pendidikan
            - visi & misi
            - Penghargaan 
            - Pengalaman 
         </p>
       </div>
       <div class="question">
         <h4 class="font-weight-bold">Seperti apa templatenya?</h4>
         <p>Kamu dapat memilih templates yang sudah disediakan dan bisa mengatur warna dari template tersebut sesuai seleramu.</p>
       </div>
       <div class="question">
         <h4 class="font-weight-bold">Apakah ini gratis?</h4>
         <p>Kami ingin membantu memudahkan mu mencari Pengalaman. Jika kamu berkenan untuk berdonasi, silahkan pilih salah satu metode untuk memberikan donasi pada bagian donasi. Dan kami ucapkan terima kasih banyak untuk yang sudah berdonasi.</p>
       </div>
       <div class="question">
         <h4 class="font-weight-bold">Apakah ada batasan waktu?</h4>
         <p>Karena ini gratis, jadi selama website ini berjalan maka kamu dapat mengaksesnya.</p>
       </div>
    </div>
</div>
{% endblock %}