<!-- FOOTER -->
<footer id="footer" class="text-center mt-5 p-3 bg-light">
    <p>&copy;Copyright <span id="year-footer"></span> by Kawoola <br>
Dibuat sepenuh hati di Karawang, Indonesia <br></p>
    <div>
        Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a>
    </div>
</footer>
<script>
    var currentYear = new Date().getFullYear();
    document.getElementById('year-footer').textContent = currentYear;
</script>